{{ include('layout/header.html.twig') }}

<h1 class="h1 text-center mt-5 mb-5">Update discipline</h1>
<div class="container">
    {{ include('discipline/form.html.twig') }}
</div>

{{ include('layout/footer.html.twig') }}